html, body{
	width: 300px;
	height: 400px;
	background-color: lightblue;
	margin: 0;
}

#content{
	display: flex;
	height: 100%;
	font-size: 16pt;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#result{
	display: block;
}